button#guardar {
  padding: 15px 30px; /* Aumentar padding para hacer el botón más grande */
  font-size: 18px; /* Aumentar tamaño de fuente */
  background-color: #8b4513; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Eliminar borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  display: block; /* Convertir a bloque para centrar */
  margin-left: 600px; /* poner a la izquieda */
}

button#guardar:hover {
  background-color: #7d6363; /* Cambiar color de fondo al pasar el ratón */
}
