.equipamiento {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #8b4513;
  color: #fff;
}
