@media screen and (max-width: 767px) {
body {
  font-family: 'Garamond', serif;
background: radial-gradient(95% 1000%, #ca40ac, #000000);
 }
.container {
  width:100%;
  height:100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999; /* Asegura que el contenedor esté en la parte superior */
  /* Otros estilos según tus necesidades */
  }
.containernombre {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 80%;
  display: flex;
  margin: 2% auto; /* Ajusta el margen al 5% del ancho del contenedor padre */
  background-color: #fff;
  padding: 2%; /* Ajusta el padding al 2% del ancho del contenedor */
  border: 2px solid #000000; /* Ajusta el grosor del borde al 0.3% del ancho del contenedor */
  border-radius: 22px; /* Ajusta el radio de borde al 1% del ancho del contenedor */
  justify-content: space-between;
  align-items: center;
  position: relative;
   top: 19px; /* Lo colocamos en la parte superior de la ventana */
 transform: translateX(-50%); /* Corregimos su posición para centrarlo correctamente */
  width: 25%; /* Establece el ancho del contenedor al 30% del ancho del contenedor padre */
  height: 10px; /* Establece la altura del contenedor al 2% del alto del contenedor padre */
}

.containerclase, .containernivel {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 100%;
  display: flex;
  margin: auto; /* Ajusta el margen al 5% del ancho del contenedor padre */
  background-color: #fff;
  padding: 2%; /* Ajusta el padding al 2% del ancho del contenedor */
  border: 2px solid #000000; /* Ajusta el grosor del borde al 0.3% del ancho del contenedor */
  border-radius: 22px; /* Ajusta el radio de borde al 1% del ancho del contenedor */
  justify-content: space-between;
  align-items: center;
  position: relative;
   top: 50px; /* Lo colocamos en la parte superior de la ventana */
 transform: translateX(50%) translateY(-200%); /* Corregimos su posición para centrarlo correctamente */
  width: 15%; /* Establece el ancho del contenedor al 30% del ancho del contenedor padre */
  height: 25px; /* Establece la altura del contenedor al 2% del alto del contenedor padre */
}
.info labelclase,labelnivel {
  position: absolute;
  right:35%;
  top:2%;
}
#clase, #nivelimput {position: absolute;
  right:25%;
  bottom:5%;
  width: 50%;
  height: 40%;
  text-align: center;}

