.dado-6 {
  /* Estilos para el dado de 6 caras */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.dado-8 {
  /* Estilos para el dado de 8 caras */
  clip-path: polygon(50% 0%, 100% 20%, 80% 50%, 100% 80%, 50% 100%, 20% 80%, 0% 50%, 20% 20%);
}

.dado-10 {
  /* Estilos para el dado de 10 caras */
  clip-path: polygon(50% 0%, 100% 10%, 90% 35%, 100% 60%, 50% 100%, 0% 60%, 10% 35%, 0% 10%);
}

.dado-12 {
  /* Estilos para el dado de 12 caras */
  clip-path: polygon(50% 0%, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0% 50%, 15% 15%);
}

.dado-20 {
  /* Estilos para los dados de 20 caras */
  clip-path: polygon(
    50% 0%, 76% 10%, 92% 29%, 100% 50%, 92% 71%, 76% 90%,
    50% 100%, 24% 90%, 8% 71%, 0% 50%, 8% 29%, 24% 10%
  );
}
