@media screen and (max-width: 767px) {
body {
  font-family: 'Garamond', serif;
  background-color: #571e4b;
  margin: 0;
  padding: 0;
}

.containertodo {
  max-width: 90%; /* Cambiado para ocupar el 90% del ancho de la pantalla */
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 10px;
}

.containernombre {
  display: flex;
  flex-direction: column; /* Cambiado a columna para dispositivos móviles */
  max-width: 90%; /* Cambiado para ocupar el 90% del ancho de la pantalla */
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 10px;
}

.info label2 {
  font-family: 'Uncial Antiqua', cursive;
  display: block;
  font-weight: bold;
  margin-left: 0; /* Eliminado margen izquierdo */
  margin-bottom: 10px; /* Añadido margen inferior */
  font-size: 25px;
  text-align: center; /* Centrado de etiquetas */
}

#nombre-personaje {
  text-align: center; /* Centrado de texto */
}

h1,
h2 {
  font-family: 'Uncial Antiqua', cursive;
  text-align: center;
}

#clase,
#nivel {
  display: block;
  font-family: 'comic sans', cursive;
  width: 90%; /* Cambiado para ocupar el 90% del ancho de la pantalla */
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%238b4513"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
  width: 100%; /* Cambiado para ocupar el 100% del ancho del contenedor */
}

.containerhabilidades {
  max-width: 90%; /* Cambiado para ocupar el 90% del ancho de la pantalla */
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 10px;
}

.columna {
  padding: 0 10px;
}

labelc {
  font-size: 25px;
  margin-bottom: 10px; /* Añadido margen inferior */
  text-align: center;
}

input[type="number"],
input[type="text"] {
  width: 100%; /* Cambiado para ocupar el 100% del ancho del contenedor */
  margin-bottom: 10px;
}

#add-item,
#remove-item,
.remove-item {
  text-align: center;
  font-family: 'Uncial Antiqua', cursive;
  color: #8b4513;
  text-decoration: none;
  margin-top: 10px;
  display: block; /* Convertido a bloque para centrar */
}

#add-item:hover,
#remove-item:hover,
.remove-item:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #8b4513;
  color: #fff;
}

.equipamiento {
  max-width: 90%; /* Cambiado para ocupar el 90% del ancho de la pantalla */
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 10px;
}
.dado {
  display: inline-block;
  width: 30px; /* Reducir el tamaño del dado para dispositivos móviles */
  height: 30px; /* Reducir el tamaño del dado para dispositivos móviles */
  margin: 5px; /* Reducir el espacio entre los dados para dispositivos móviles */
  text-align: center;
  font-weight: bold;
  line-height: 30px; /* Reducir el tamaño del dado para dispositivos móviles */
  cursor: pointer;
  color: #ffffff; /* Color de la fuente (números) */
  background: radial-gradient(circle, #c79b69, #a75b04); /* Fondo de gradiente */
}

/* Cambios específicos para el botón de guardar en dispositivos móviles */
button#guardar {
  padding: 10px 20px; /* Ajustar el padding para hacer el botón más compacto en dispositivos móviles */
  font-size: 14px; /* Reducir el tamaño de la fuente para dispositivos móviles */
  margin: 10px auto; /* Centrar el botón en dispositivos móviles */
  display: block;
}
}
