body {
  font-family: 'Garamond', serif;
  background-color: #f5e1cc;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 5px solid #8b4513;
  border-radius: 10px;
}

h1, h2 {
  font-family: 'Uncial Antiqua', cursive;
  text-align: center;
}

.info label {
  display: block;
  font-weight: bold;
}

select, input[type="number"], input[type="text"] {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%238b4513"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
}

.inventario li {
  margin-bottom: 10px;
}

.inventario input[type="text"],
.inventario input[type="number"] {
  width: calc(50% - 10px); /* Usamos calc para calcular el 50% del ancho con un margen entre los elementos */
  margin-right: 10px; /* Margen derecho para separar los elementos */
}

.inventario .item-counter {
  width: calc(50% - 10px); /* Misma anchura para el contador */
}

#add-item {
  display: block;
  text-align: center;
  font-family: 'Uncial Antiqua', cursive;
  color: #8b4513;
  text-decoration: none;
  margin-top: 10px;
}

#add-item:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #8b4513;
  color: #fff;
}

.dados-container {
  margin-top: 20px;
}

.dados {
  display: flex;
  justify-content: space-between;
}

.dado {
  background-color: #8b4513;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
