body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.info {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-right: 2px solid #333;
}

h1, h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
select {
  width: 100px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.inventario,
.equipamiento {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}

.dados-container {
  flex: 1;
  padding: 20px;
}

.dados {
  padding-top: 20px;
}

.dado {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
